{% extends "dashboard.html" %}

{% block mid_content %}

{% raw %}

<div id="target">
</div>

<script id="template" type="text/ractive">

<form class="content content-small mt-4" action="" onSubmit="return false;">
  <div class="form-group">
    <label for="password">New Password</label>
    <input type="password" class="form-control" id="password" value="{{password}}">
  </div>

  <button class="btn btn-primary" id="saveUserBtn" on-click="@global.handleSave()">Update Password</button>
</form>

<span id="errorMessage" class="text-info"></span>

</script>

{% endraw %}

{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/ractive/1.0.0-build-99/ractive.min.js"></script>
<script src="{{ url_for('static', filename='password.js') }}"></script>

{% endblock %}
