{% extends "base.html" %}

{% block content %}
{% raw %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">TimeMandy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">My Profile</a>
      </li>
      <li class="nav-item" id="all_users_btn">
        <a class="nav-link" href="#">Show Users</a>
      </li>
    </ul>
    <button class="btn btn-primary my-2 my-sm-0" id="logoutButton">Logout</button>
  </div>
</nav>



<div class="content mt-3" id="target">
</div>


<!-- register modal -->

<div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="newLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newLabel">Add new task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="addUserID" class="col-form-label">User ID</label>
            <input type="number" class="form-control" id="addUserID" min="1">
          </div>
          <div class="form-group">
            <label for="addTitle" class="col-form-label">Title</label>
            <input type="text" class="form-control" id="addTitle">
          </div>
          <div class="form-group">
            <label for="addDate" class="col-form-label">Date</label>
            <input type="date" class="form-control" id="addDate">
          </div>
          <div class="form-group">
            <label for="addDuration" class="col-form-label">Duration (min)</label>
            <input type="number" class="form-control" id="addDuration" min="1" value="15">
          </div>
          <div class="form-group">
            <label for="addComments" class="col-form-label">Comments</label>
            <textarea class="form-control" id="addComments"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <span id="addTaskErrorMessage" class="text-danger"></span>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="taskSaveBtn">Save Task</button>
      </div>
    </div>
  </div>
</div>


<!-- ractive templates -->


<script id="template" type="text/ractive">
  <h1 class="text-center">Hi {{name}}</h1>

  <div>
    {{#if isAdmin}}
      <button class="btn btn-primary" id="adminSwitchBtn" on-click="@global.handleAdminSwitch()">{{adminTaskFilterText}}</button>
    {{/if}}
    <button class="btn btn-success" data-toggle="modal" data-target="#newModal">Add new record</button>
  </div>

  <div class="mt-4">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">User ID</th>
          <th scope="col">Title</th>
          <th scope="col">Date</th>
          <th scope="col">Duration (min)</th>
          <th scope="col">Comments</th>
        </tr>
      </thead>
      <tbody>
        {{#each tasks}}
        <tr>
          <td>{{user_id}}</td>
          <td>{{title}}</td>
          <td>{{date.replace(/T.*/, '')}}</td>
          <td>{{minutes}}</td>
          <td>{{comments}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</script>

{% endraw %}
{% endblock %}


{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/ractive/1.0.0-build-99/ractive.min.js"></script>
<script src="{{ url_for('static', filename='dashboard.js') }}"></script>
{% endblock %}

