{% extends "base.html" %}

{% block content %}


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">TimeMandy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
    </ul>
    <button class="btn btn-primary my-2 my-sm-0" data-toggle="modal" data-target="#loginModal">Login</button>
    <button class="btn btn-success my-2 my-sm-0 ml-2" data-toggle="modal" data-target="#registerModal">Sign Up</button>
  </div>
</nav>


<!-- login modal -->

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginLabel">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="loginEmail" class="col-form-label">Email</label>
            <input type="text" class="form-control" id="loginEmail">
          </div>
          <div class="form-group">
            <label for="loginPassword" class="col-form-label">Password</label>
            <input type="password" class="form-control" id="loginPassword">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <span id="loginErrorMessage" class="text-danger"></span>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="loginBtn">Login</button>
      </div>
    </div>
  </div>
</div>


<!-- register modal -->

<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registerLabel">Register</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="registerEmail" class="col-form-label">Email</label>
            <input type="text" class="form-control" id="registerEmail">
          </div>
          <div class="form-group">
            <label for="registerUsername" class="col-form-label">Username</label>
            <input type="text" class="form-control" id="registerUsername">
          </div>
          <div class="form-group">
            <label for="registerPassword" class="col-form-label">Password</label>
            <input type="password" class="form-control" id="registerPassword">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <span id="registerErrorMessage" class="text-danger"></span>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="registerBtn">Sign Up</button>
      </div>
    </div>
  </div>
</div>


<div class="content mt-5">
  <h1 class="display-3 text-center">Welcome to TimeMandy!</h1>
  <p class="mt-5">
    TimeMandy is a handy application to track your time.
  </p>
  <p>
    It can record all your activities, allows you to set a daily threshold limit and even allows filtering and exporting of data.
  </p>
</div>

{% endblock %}


{% block scripts %}
<script src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}

